# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.Python

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Environment
.env

# Reports and data
reports/
server/data/

# Docker
*.log

